<script>
  var product = (function() {
    var product = {{ product | json }};
    var selected_variant = {{ product.selected_or_first_available_variant | json }};
    var discontinued = "{{ product.metafields.custom_fields.discontinued }}" == "true";
    product.discontinued = discontinued;

    var variants = [];
    var discontinued_variants = [];
    {% for variant in product.variants %}
    var variant = {{ variant | json }};
    var variant_discontinued = "{{ variant.metafields.custom_fields.discontinued }}" == "true";
    variant.discontinued = variant_discontinued;

    // If product is discontinued, set all variants as discontinued
    if (product.discontinued) {
      variant.discontinued = true;
    }

    if (variant.discontinued) {
      discontinued_variants.push(variant);
    }
    
    if (variant.id == selected_variant.id) {
      product.selected_variant = variant;
    }

    variants.push(variant);
    {% endfor %}

    // If all variants set as discontinued, set product as discontinued
    if (variants.length == discontinued_variants.length) {
      product.discontinued = true;
    }

    product.variants = variants;

    return product;
  })();

  function applyDiscontinued(variant) {
    if (typeof product == 'undefined') {
      return;
    }

    var _variant = product.variants.find(function(v) {
      return v.id == variant.id;
    });
    var isDiscontinued = _variant.discontinued;
    //console.log({variant, isDiscontinued});
    
    var sections = ['.sticker-holder', '.product-block--vendor', '.product-block--sku', '.product-block--price', '.product-offer', '.purchase-details', '.product-block--share', '.product-block--description'];
    sections.forEach(function(section) {
      if (document.querySelector(section)) {
        document.querySelector(section).classList.toggle('hidden', isDiscontinued);
      }
    });

    document.querySelector('.product-discontinued').classList.toggle('hidden', !isDiscontinued);
  }

  if (product.variants.length == 1) {
    applyDiscontinued(product.variants[0]);
  }
  else {
    applyDiscontinued(product.selected_variant);
  }
</script>

<script>
  (function() {
    var products_collections = JSON.parse(sessionStorage.getItem('products_collections')) || [];
    var product = {{ product | json }};
    
    {% assign product_collections_ids = product.collections | map: 'handle' %}
    var product_collections_ids = {{ product_collections_ids | json }};
    
    var product_ref = {
      product_id: product.id,
      collections: product_collections_ids
    }
    console.log(offers);
    
    var is_in_session = products_collections.find(function(item) {
      return item.product_id == product.id;
    });
    
    if (!is_in_session) {
      products_collections.push(product_ref);
      sessionStorage.setItem('products_collections', JSON.stringify(products_collections));
    }
    
    // IF product is from offers, show message above buttons..
    if (typeof offers !== 'undefined') {
      var current_offer = offers.items.find(function(item) {
        
        return product_ref.collections.indexOf(item.collection) !== -1;
      })
      
      //console.log(current_offer);
      if (current_offer) {
        $('.purchase-details').before('<div class="product-offer">' + current_offer.offer_details_product_cart + '</div>');
      }
    }
  })();
</script>

<script>
  {% if collection != blank %}
  var current_collection = {{ collection | json }};
  current_collection.products_count = {{ collection.products_count }};
  {% endif %}  
</script>

<script>
  {% if collection != blank %}
  var current_collection = {{ collection | json }};
  current_collection.products_count = {{ collection.products_count }};
  {% endif %}  

  var product_vendor = '{{ product.vendor }}';
  var product_id = '{{ product.id }}';
  var product_type = '{{ product.type | handle }}'
</script>