<div class="variant-metafields-content">
  {% assign variant = variant.metafields.variant %}
  {% if variant.oversized != blank %}
  {% assign key = 'oversized' %}
    
  <p><strong>Oversized Item:</strong> {{ variant.oversized }}<br><br>{% endif %}                 
  
  	{% if variant.finish != blank %}
  	{% assign key = 'finish' %}
<p><p><strong>Finish:</strong> {{ variant.finish }}<br>{% endif %}
    {% if variant.glass != blank %}
    {% assign key = 'glass' %}
    <strong>Glass/Shade:</strong> {{ variant.glass }}<br>{% endif %}
    {% assign item = product.metafields.item %}
    {% if product.metafields.item.material != blank %}
    {% assign key = 'material' %}
    <strong>Material:</strong> {{ item.material }}<br>{% endif %}
    {% if variant.dimensions != blank %}
    {% assign key = 'dimensions' %} 
    <strong>Dimensions:</strong> {{ variant.dimensions }}<br>{% endif %}
    {% if variant.weight != blank %}
    {% assign key = 'weight' %}
    <strong>Weight:</strong> {{ variant.weight }}<br>{% endif %}
    {% if variant.cutout != blank %}
    {% assign key = 'cutout' %}
    <strong>Cutout:</strong> {{ variant.cutout }}<br>{% endif %}             
    {% if variant.shape != blank %}
    {% assign key = 'shape' %}
    <strong>Shape:</strong> {{ variant.shape }}<br>{% endif %}
    {% if variant.bulbtype != blank %}
    {% assign key = 'bulbtype' %}
    <strong>Bulb Type:</strong> {{ variant.bulbtype }}<br>{% endif %}
    {% if variant.bulbbase != blank %}
    {% assign key = 'bulbbase' %}
    <strong>Bulb Base:</strong> {{ variant.bulbbase }}<br>{% endif %}
    {% if variant.bulbsource != blank %}
    {% assign key = 'bulbsource' %}
    <strong>Light Source:</strong> {{ variant.bulbsource }}<br>{% endif %}
    {% if variant.bulbcolor != blank %}
    {% assign key = 'bulbcolor' %}
    <strong>Bulb Color:</strong> {{ variant.bulbcolor }}<br>{% endif %}
    {% if variant.wattage != blank %}
    {% assign key = 'wattage' %}
    <strong>Wattage:</strong> {{ variant.wattage }}<br>{% endif %}
    {% if variant.lumens != blank %}
    {% assign key = 'lumens' %}
    <strong>Lumens:</strong> {{ variant.lumens }}<br>{% endif %}
    {% if variant.cri != blank %}
    {% assign key = 'cri' %}
    <strong>CRI:</strong> {{ variant.cri }}<br>{% endif %}
    {% if variant.beam != blank %}
    {% assign key = 'beam' %}
    <strong>Beam:</strong> {{ variant.beam }}<br>{% endif %}
    {% if variant.dimming != blank %}
    {% assign key = 'dimming' %}
    <strong>Dimming:</strong> {{ variant.dimming }}<br>{% endif %}
    {% if variant.life != blank %}
    {% assign key = 'life' %}
    <strong>Life:</strong> {{ variant.life }}<br>{% endif %}
    {% if variant.cct != blank %}
    {% assign key = 'cct' %}
    <strong>CCT:</strong> {{ variant.cct }}<br>{% endif %}
    {% if variant.voltage != blank %}
    {% assign key = 'voltage' %}
    <strong>Voltage:</strong> {{ variant.voltage }}<br>{% endif %}
    {% if variant.extension != blank %}
    {% assign key = 'extension' %}
    <strong>Extension:</strong> {{ variant.extension }}<br>{% endif %}
    {% if variant.centertocenter != blank %}
    {% assign key = 'centertocenter' %}
    <strong>Center To Center:</strong> {{ variant.centertocenter }}<br>{% endif %}
    {% if variant.chain != blank %}
    {% assign key = 'chain' %}
    <strong>Chain:</strong> {{ variant.chain }}<br>{% endif %}
    {% if variant.motorsize != blank %}
    {% assign key = 'motorsize' %}
    <strong>Motor Size:</strong> {{ variant.motorsize }}<br>{% endif %}
    {% if variant.airflow != blank %}
    {% assign key = 'airflow' %}
    <strong>Air Flow:</strong> {{ variant.airflow }}<br>{% endif %}
    {% if variant.bladepitch != blank %}
    {% assign key = 'bladepitch' %}
    <strong>Blade Pitch:</strong> {{ variant.bladepitch }}<br>{% endif %}
    {% if variant.bladespan!= blank %}
    {% assign key = 'bladespan' %}
    <strong>Blade Span:</strong> {{ variant.bladespan }}<br>{% endif %}
    {% if variant.bladefinish != blank %}
    {% assign key = 'bladefinish' %}
    <strong>Blade Finish:</strong> {{ variant.bladefinish }}<br>{% endif %}
    {% if variant.bladeqty != blank %}
    {% assign key = 'bladeqty' %}
    <strong>Blade Qty:</strong> {{ variant.bladeqty }}<br>{% endif %}
    {% if variant.fancontrol != blank %}
    {% assign key = 'fancontrol' %}
    <strong>Fan Control:</strong> {{ variant.fancontrol }}<br>{% endif %}
    {% if variant.downrod != blank %}
    {% assign key = 'downrod' %}
    <strong>Down Rod:</strong> {{ variant.downrod }}<br>{% endif %}
    {% if variant.lightkit != blank %}
    {% assign key = 'lightkit' %}
    <strong>Light Kit:</strong> {{ variant.lightkit }}<br>{% endif %}

    {% if variant.canopysize != blank %}
    {% assign key = 'canopysize' %}
    <strong>Canopy Size:</strong> {{ variant.canopysize }}<br>{% endif %}
    {% if variant.color != blank %}
    {% assign key = 'color' %}
    <strong>Color:</strong> {{ variant.color }}<br>{% endif %}
    {% if variant.polarity != blank %}
    {% assign key = 'polarity' %}
    <strong>Polarity:</strong> {{ variant.polarity }}<br>{% endif %}

    {% if variant.bulbs != blank %}
    {% assign key = 'bulbs' %}
    <strong>Bulbs:</strong> {{ variant.bulbs }}<br>{% endif %}
    {% assign item = product.metafields.item %}
    {% if product.metafields.item.bulbs != blank %}
    {% assign key = 'bulbs' %}

    <strong>Bulbs:</strong> {{ item.bulbs }}<br>{% endif %}

    {% if variant.wire != blank %}
    {% assign key = 'wire' %}
    <strong>Wire:</strong> {{ variant.wire }}<br>{% endif %}
    {% assign item = product.metafields.item %}
    {% if product.metafields.item.wire != blank %}
    {% assign key = 'wire' %}

    <strong>Wire:</strong> {{ item.wire }}<br>{% endif %}


    {% assign item = product.metafields.item %}
    {% if product.metafields.item.chain != blank %}
    {% assign key = 'chain' %}

    <strong>Chain:</strong> {{ item.chain }}<br>{% endif %}


    {% assign item = product.metafields.item %}
    {% if product.metafields.item.safety != blank %}
    {% assign key = 'safety' %}

    <strong>Rating:</strong> {{ item.safety }}<br>{% endif %}

    {% assign item = product.metafields.item %}
    {% if product.metafields.item.collection != blank %}
    {% assign key = 'collection' %}

    <strong>Collection:</strong> {{ item.collection }}<br>{% endif %}

    {% assign item = product.metafields.item %}
    {% if product.metafields.item.designer != blank %}
    {% assign key = 'designer' %}

    <strong>Designed by:</strong> {{ item.designer }}</p>{% endif %}            

  {% if variant.specsheet != blank %}
  {% assign key = 'specsheet' %}
  <strong>Spec Sheet:</strong> <a target="_blank" href="{{ variant.specsheet }}">Download</a><br>{% endif %}      

  {% assign item = product.metafields.item %}           
  {% if item.instructionsheet != blank %}
  {% assign key = 'instructionsheet' %}

  <strong>Instructions:</strong> <a target="_blank" href="{{ item.instructionsheet }}">Download</a><br>{% endif %}         
</div>  
