<div class="section coll-faq">
  <div class="container">
    <div class="coll-faq--upperPart">
      <h2>{{ section.settings.title }}</h2>
      <div class="rte">
        {{ section.settings.des }}
      </div>
    </div>
    
    <div class="coll-faq--slider-content">      
      <h2>{{ section.settings.slider-title }}</h2>      
      <div class="coll-faq--slider carousel">
        {% assign coll_blocks = section.blocks | where: "type","Collection" %}
        {% for block in coll_blocks %}
        <a href="#" class="carousel-cell coll-faq--slide">          
          <div class="image-element__wrap">
            <img loading="lazy" src="{{ block.settings.coll.featured_image | image_url }}" height="auto" width="auto">
          </div>
          <h4>{{ block.settings.coll.title }}</h4>
        </a>        
        {% endfor %}
      </div>
    </div>

    <div class="coll-faq-read">
      <div class="rte read-more js-read-more" data-rm-words="115">
        {% assign text_blocks = section.blocks | where: "type","TextBlock" %}
        {% for block in text_blocks %}
          <h2>{{ block.settings.title }}</h2>
          <p>{{ block.settings.des }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="coll-faq-related-search">      
      <div class="related-search-seo">
        <p>{{ section.settings.relat-search }}</p>
      </div>      
    </div>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", (event) => {  
    $('.coll-faq--slider').flickity({
      // options
      cellAlign: 'left',
      contain: true,
      groupCells: true,
      wrapAround: true
    });

    ReadMore.init(document.querySelectorAll('.coll-faq-read .read-more'));
  });
</script>

{% schema %}
  {
    "name": "Collection Faq",
    "class": "section-coll-faq",
    "settings": [
      {
        "type": "text",
        "id":"title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id":"des",
        "label": "Description"
      },
      {
        "type": "text",
        "id":"slider-title",
        "label": "Slider Title"
      },
      {
        "type": "textarea",
        "id": "relat-search",
        "label": "Related Searches"
      }
    ],
    "blocks": [
      {
        "type": "Collection",
        "name": "Collection",
        "settings" : [
          {
            "type": "collection",
            "id": "coll",
            "label": "Collection"
          }
        ]
      },
      {
        "type": "TextBlock",
        "name": "TextBlock",
        "settings" : [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "des",
            "label": "Description"
          }
        ]
      }
    ]
  }
{% endschema %}