{% if section.blocks.size > 0 %}

{% comment %} Section specific CSS {% endcomment %}
{% capture section_css -%}
  #shopify-section-{{ section.id }} {
    background-image: linear-gradient({{ section.settings.gradient_rotation }}deg, rgba(255,255,255,0), {{ section.settings.gradient }});
    background-color: {%- if background_alpha != 0 -%}{{ section.settings.background }}{%- endif -%};
    {% if section.settings.color != blank and section.settings.color != 'rgba(0,0,0,0)' %}color: {{ section.settings.color }};{% endif %}
  }
{%- endcapture -%}

{% style %}  

  {%
    render 'css-loop',
    css: section_css,
    id: section.id,
    hasSecID : true
  %}

  {%
    render 'css-loop',
    css: section.settings.custom_css,
    id: section.id,
  %}
{% endstyle %}


<div class="footer__section footer_icon-row section">
  <div class="container footer__wrapper wrapper-icon-row text-align-center">
    {% for block in section.blocks %}
    <div class="footer__column column-icon-row">
      {% if block.settings.icon != blank %}
      <div class="image-element__wrap column-icon">
        <img loading="lazy" src="{{ block.settings.icon | image_url: width: 300 }}" loading="lazy" sizes="32" width="32" height="33" />
      </div>      
      {% endif %}
      {% if block.settings.title != blank %}
      <div>
        <p class="column-title">{{ block.settings.title }}</p>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% schema %}
  {
    "name": "Footer Icons",
    "settings": [      
      {
        "type": "header",
        "content": "Color"
      },
      {
        "type": "color",
        "id": "color",
        "label": "Text",
        "default": "#fff"
      },
      {
        "type": "header",
        "content": "Background"
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background",
        "default": "rgba(89,89,89,1)"
      },
      {
        "type": "color",
        "id": "gradient",
        "label": "Background gradient",
        "default": "rgba(0,0,0,0)"
      },
      {
        "type": "range",
        "id": "gradient_rotation",
        "label": "Gradient rotation",
        "min": 0,
        "max": 180,
        "step": 10,
        "default": 0,
        "unit": "deg"
      }
    ],
    "blocks": [
      {
        "type": "Icons",
        "name": "Icons",
        "limit": 4,
        "settings": [
          {
            "type": "image_picker",
            "id":"icon",
            "label": "Icon"
          },
          {
            "type": "text",
            "id":"title",
            "label": "Title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Footer Icons",
        "category": "Image"        
      }
    ]
  }
{% endschema %}