<style>
  .product-tooltip {
    display: flex;
    align-items: center;
    background-color: #eaeaea;
  }
  .product-tooltip .inner-content {
    display: flex;
    width:50%;
    position:relative;
  }
  .inner-content.details {
    padding-right: 30px;
    padding-left: 100px;
  }
  .inner-content.details p {
    margin-top: 22px;
    font-size: 20px;
    line-height: normal;
    color: #000;
  }
  .inner-content.details a {
    margin-top: 50px;
    display: inline-block;
    font-size: 12px;
    line-height: normal;
    border: 1px solid #000;
    padding: 13px 40px;
    color: #000;
  }
  .inner-content.details h2 {
    font-size: 50px;
    line-height: normal;
    color: #000;
  }

  button.circle {
    width: 30px;
    height: 30px;
    border: transparent 1px solid;
    background: #FFF;
    border-radius: 50%;
    position: relative;
    transition: all .2s ease-in-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button.circle:after {
    content: "";
    border: 5px solid rgba(255, 255, 255, .3);
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    transform: scale(1);
    animation: scaleCircle 3s ease-in-out infinite;
    border-radius: 50%;
  }

  @keyframes scaleCircle{
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(.8);
    }
    100%{
      transform: scale(1);
    }
  }
  
  .piece-one.piece-item {
    position: absolute;
  }
  
  .piece-product-item {
    position: absolute;
    width: 420px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    padding: 27px 25px;
    z-index: 1;
    display: flex;
    transform: translateX(20px);
    opacity: 0;
    transition: all .2s ease-in-out;
    visibility: hidden;
  }

  .product-tooltip .inner-content .piece-item:hover .piece-product-item{
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
    z-index: 9;
  }

  .product-tooltip .inner-content .piece-product-item figure{margin: 0;width: 133px;background-color: #f2f2f2;}
  .product-tooltip .inner-content .piece-product-item .content{width: calc(100% - 133px);padding-left: 14px;}

  @media(max-width:768px){
    .product-tooltip .inner-content{width: 100%;}
    .product-tooltip{flex-direction: column;}
    .inner-content.details{padding: 50px;}
  }
  @media(max-width:575px){
    .inner-content.details h2{font-size: 30px;}
    .inner-content.details p{font-size: 20px;}
    .inner-content.details a{margin-top: 30px;}
  }
</style>

<div class="section product-tooltip">
	<div class="inner-content">
      {% for block in section.blocks %}
        {% if block.settings.pro_one != blank %}
          {% assign pro_1 = all_products[block.settings.pro_one] %}
            <div class="piece-one piece-item item-{{block.id}}">
              <button class="circle">
                <svg width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M4.26 10V5.74H0V4.24H4.26V0H5.76V4.24H10V5.74H5.76V10H4.26Z"></path></svg>
              </button>
              <div class="piece-product-item  desktop-{{ block.settings.pro_one_align }}  mobile-{{ block.settings.pro_one_mobi_align }}">
                <figure>
                  <div>
                    <img loading="lazy" src="{{pro_1.featured_image | img_url:'master' }}" />
                  </div>
                </figure>
                <div class="content">
                  <h3>{{pro_1.title}}</h3>
                  {% if pro_1.price != 0%}<div class="price">{{pro_1.price | money}}</div>{% endif %}
                  <a href="{{pro_1.url}}" class="view">
                    View
                    <svg xmlns="http://www.w3.org/2000/svg" width="9" height="8" viewBox="0 0 9 8">
                      <g><g><path fill="#fff" d="M5.25 0l-.536.557L7.556 3.6H0v.8h7.556L4.714 7.43 5.25 8 9 4z"></path></g></g>
                    </svg></a>   
                </div>
              </div>
            </div>
            <style>
              .piece-product { height: {{ section.settings.sec_height }}px; }  
              .piece-img {  width: 100%; object-fit: cover; }
    
              /* Desktop css */
              @media screen and (min-width: 768px) {   
    
                .product-tooltip .inner-content .piece-one.item-{{block.id}} { left: {{ block.settings.pro_one_left }}%;  top: {{ block.settings.pro_one_top }}%; }
                .product-tooltip .inner-content .piece-product-item.desktop-left-top  { top: -40px;  right: 50px; }
                .product-tooltip .inner-content .piece-product-item.desktop-left-bottom  { bottom: -40px;  right: 50px; } 
                .product-tooltip .inner-content .piece-product-item.desktop-right-top  { top: -40px; left: 50px; }
                .product-tooltip .inner-content .piece-product-item.desktop-right-bottom  { bottom: -40px; left: 50px; }   
    
              }
    
              /* Mobile css */
              @media screen and (max-width: 767px) {   
    
                .product-tooltip .inner-content .piece-one.item-{{block.id}} { left: {{ block.settings.pro_one_mobi_left }}%;  top: {{ block.settings.pro_one_mobi_top }}%; }
                .product-tooltip .inner-content .piece-product-item.mobile-left-top  { top: -40px;  right: 40px; }
                .product-tooltip .inner-content .piece-product-item.mobile-left-bottom  { bottom: -40px;  right: 40px; } 
                .product-tooltip .inner-content .piece-product-item.mobile-right-top  { top: -40px;  left: 40px; }
                .product-tooltip .inner-content .piece-product-item.mobile-right-bottom  { bottom: -40px;  left: 40px; }      

                .piece-product-item{width:300px;padding:20px;}
                .product-tooltip .inner-content .piece-product-item figure{width:100px;}
                .product-tooltip .content h3{font-size: 16px;}
    
              }
    
            </style>
        {% endif %}
      {% endfor %}
      <img loading="lazy" src="{{ section.settings.img | image_url }}" height="auto" width="auto">
    </div>
	<div class="inner-content details">
      <div>
        <h2>{{ section.settings.title }}</h2>
		<p>{{ section.settings.des }}</p>
		{% if section.settings.btn-text != blank %}<a href="{% if section.settings.link != blank %}{{ section.settings.link }}{% else %}#{% endif %}">{{ section.settings.btn-text }}</a>{% endif %}
      </div>
    </div>	
</div>
      
{% schema %}
  {
    "name": "Product tool tip",
    "settings": [
      {
        "type": "image_picker",
        "id":"img",
        "label": "Image"
      },
      {
        "type": "textarea",
        "id":"title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id":"des",
        "label": "Description"
      },
      {
        "type": "text",
        "id":"btn-text",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id":"link",
        "label": "Button Link"
      }
    ],
    "blocks": [
     {
       "name": "Product Point",
	   "limit": 2,
       "type": "Product_Point",
       "settings": [
        	{
              "type": "product",
              "id": "pro_one",
              "label": "Product One"           
            },
            {
              "type": "paragraph",         
              "content": "Desktop View Settings"           
            },	
            {
               "type": "range",
               "id": "pro_one_left",
               "min": 1,
               "max": 100,
               "unit": "%",
               "step": 1,          
               "label": "Space left Side",
               "default": 2
            },
            {
               "type": "range",
               "id": "pro_one_top",
               "min": 1,
               "max": 100,
               "unit": "%", 
               "step": 1,          
               "label": "Space Top Side",
               "default": 2
            },
            {
              "type": "select",
              "id": "pro_one_align",
              "label": "Product popup align",
              "options": [
                {
                  "value": "right-top",
                  "label": "Right Top"
                },
                {
                  "value": "right-bottom",
                  "label": "Right Bottom"
                },
                {
                  "value": "left-top",
                  "label": "Left Top"
                },
                {
                  "value": "left-bottom",
                  "label": "Left Bottom"
                }
              ],
              "default": "left-top"
            },
            {
              "type": "paragraph",         
              "content": "Mobile View Settings"           
            },	
            {
               "type": "range",
               "id": "pro_one_mobi_left",
               "min": 1,
               "max": 100,
               "unit": "%",
               "step": 1,          
               "label": "Space left Side",
               "default": 10
            },
            {
               "type": "range", 
               "id": "pro_one_mobi_top",
               "min": 1,
               "max": 100,
               "unit": "%",
               "step": 1,          
               "label": "Space Top Side",
               "default": 23
            },
            {
              "type": "select",
              "id": "pro_one_mobi_align",
              "label": "Product popup align",
              "options": [
                {
                  "value": "right-top",
                  "label": "Right Top"
                },
                {
                  "value": "right-bottom",
                  "label": "Right Bottom"
                },
                {
                  "value": "left-top",
                  "label": "Left Top"
                },
                {
                  "value": "left-bottom",
                  "label": "Left Bottom"
                }
              ],
              "default": "left-top"
            } 
       ]
     }
   ],
    "presets": [
      {
        "name": "Product tool tip",
        "category": "custom"
      }
    ]
  }
{% endschema %}