<link rel="stylesheet" href="{{ 'index__image-with-text-two.css' | asset_url }}">

<div class="image-with-text-two image--larger media-align-right {% if section.settings.textLeft %}imgWiText--right{% endif %}">
  <div class="image-with-text-two__media">
    <div class="image-with-text-two__image-wrapper js">
      <a href="{% if section.settings.btn-link != blank %}{{ section.settings.btn-link }}{% else %}#{% endif %}">
        {% if section.settings.img-desktop != blank %}
        <div class="responsive-image__wrapper js-auto-height  hidden-mobile" style="padding-top: 56.25%;">
          <img loading="lazy" class="responsive-image__image" src="{{ section.settings.img-desktop | image_url }}" data-src="{{ section.settings.img-desktop }}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="1.7777777777777777" data-sizes="auto" width="1440" height="810.0" alt="Sale Favorites">
        </div>
        {% endif %}
        {% if section.settings.img-mobile != blank %}
        <div class="responsive-image__wrapper js-auto-height  hidden-desktop" style="padding-top: 56.25%; height: 0px;">
          <img loading="lazy" class="responsive-image__image" src="{{ section.settings.img-mobile | image_url }}" data-src="{{ section.settings.img-mobile | image_url }}" data-widths="[180, 360, 540, 720, 900]" data-aspectratio="1.7777777777777777" data-sizes="auto" alt="" width="" height="">
        </div>
        {% else %}
        <div class="responsive-image__wrapper js-auto-height  hidden-desktop" style="padding-top: 56.25%; height: 0px;">
          <img loading="lazy" class="responsive-image__image" src="{{ section.settings.img-desktop | image_url }}" data-src="{{ section.settings.img-desktop | image_url }}" data-widths="[180, 360, 540, 720, 900]" data-aspectratio="1.7777777777777777" data-sizes="auto" alt="" width="" height="">
        </div>
        {% endif %}
      </a>
    </div>
    <noscript>
      <img loading="lazy" src="{{ section.settings.img-desktop | image_url }}" alt="Earth Day Sale" class="image-with-text__image hidden-mobile" />
      <img loading="lazy" src="{{ section.settings.img-mobile | image_url }}" alt="Earth Day Sale" class="image-with-text__image hidden-desktop" />
    </noscript>
  </div>
  <div class="image-with-text-two__text js-auto-height section">
    <div class="container">
      <div class="image-with-text-two__text-inner text--left">
        <div class="section__title--small">{{ section.settings.sub-title }}</div>
        <div class="section__subtitle h2">{{ section.settings.title }}</div>
        <div>
          <p>{{ section.settings.des }}</p>
        </div>
        {% if section.settings.btn-text != blank %}<a class="link-text is-text is-uppercase" href="{% if section.settings.btn-link != blank %}{{ section.settings.btn-link }}{% else %}#{% endif %}"> {{ section.settings.btn-text }} </a>{% endif %}
      </div>      
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Image with text 2",
    "settings": [
      {
        "type":"text",
        "label": "Heading",
        "id":"title",
        "default":"Earth Day Everyday"
      },
      {
        "type":"text",
        "label": "Sub Heading",
        "id":"sub-title"
      },
      {
        "type":"textarea",
        "label": "Description",
        "id":"des"
      },
      {
        "type":"text",
        "label": "Button Text",
        "id":"btn-text",
        "default": "Shop Now"
      },
      {
        "type":"url",
        "label": "Button Link",
        "id":"btn-link"
      },
      {
        "type":"checkbox",
        "label": "Show text left side",
        "id":"textLeft",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "img-desktop",
        "label": "Desktop Image"
      },
      {
        "type": "image_picker",
        "id": "img-mobile",
        "label": "Mobile Image"
      }
    ],
    "presets": [
      {
        "name": "Image with text 2",
        "category": "Image",
        "settings": {
        }
      }
    ],
    "disabled_on": {
      "groups": [
        "*"
      ]
    }
  }
{% endschema %}