{% if section.blocks.size > 0 %}
<link rel="stylesheet" href="{{ 'index__collection-list-two.css' | asset_url }}">

<div class="section collectionList-two">
  <div class="container">
    <div class="coll-list-two-wrapper">
      <div class="carousel carousel-main coll-list-two-listing carousel-comman-arrwos">
        {% for block in section.blocks %}
        {% if block.settings.coll.products.size > 0 %}
        <div class="carousel-cell">
          <a href="{{ block.settings.coll.url }}" class="coll-list-two">
            <div class="coll-list-two__image">
              <div class="responsive-image__wrapper">
                {% if block.settings.coll.feature_image != blank %}
                <img class="responsive-image__image" loading="lazy" src="{{ block.settings.coll.featured_image | image_url }}" data-src="{{ block.settings.coll.feature_image | image_url }}" width="480" height="530" data-widths="[180, 360, 480, 600]" data-aspectratio="1.0" data-sizes="auto" alt="{{ block.settings.coll.title }}">
                {% else %}
                <img class="responsive-image__image" loading="lazy" src="{{ block.settings.coll.products.first.featured_image | image_url }}" data-src="{{ block.settings.coll.feature_image | image_url }}" width="480" height="530" data-widths="[180, 360, 480, 600]" data-aspectratio="1.0" data-sizes="auto" alt="{{ block.settings.coll.title }}">
                {% endif %}
              </div>
            </div>
            <div class="coll-list-two__name">
              <span>{{ block.settings.coll.title }}</span>
            </div>
          </a>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", (event) => {  
    $('.coll-list-two-listing').flickity({
      // options
      cellAlign: 'left',
      contain: true,
    });
  });
</script>

{% endif %}
  
{% schema %}
  {
    "name": "Collection list 2",
    "class": "collection-list-two jsCollectionList",
    "settings": [],
    "blocks": [
      {
        "type": "collection",
        "name": "collection",
        "settings": [
          {
            "type": "collection",
            "id": "coll",
            "label": "Collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list 2",
        "category": "Collection",
        "settings": {}
      }
    ],
    "disabled_on": {
      "groups": [
        "*"
      ]
    }
  }
{% endschema %}