{% comment %} Section specific CSS {% endcomment %}
{% style %}
  #shopify-section-{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    {% if section.settings.width == 'wide' %}
      width: 100%;
    {% endif %}
  }

  @media only screen and (max-width: 798px) {
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.mobile_padding_top }}px;
      padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
    }
  }

  {% render 'css-loop',
    css: section.settings.custom_css,
    id: section.id
  %}
{% endstyle %}

<div class="section tade__text-grid">
  <div class="container">
    {% if section.settings.title != blank %}
    <div class="section-header">
      <h2>{{ section.settings.title }}</h2>
      {% if section.settings.subHeading != blank %}
        <h3>{{ section.settings.subHeading }}</h3>
      {% endif %}
    </div>
    {% endif %}
    {% if section.blocks.size > 0 %}
    <div class=" ttg--grid">
      {% for block in section.blocks %}
      <div class="ttg--item">
        <h3>{{ block.settings.heading }}</h3>
        {% if block.settings.subHeading != blank %}
          <h6>{{ block.settings.subHeading }}</h6>
        {% endif %}
        <div class="rte">
          {{ block.settings.detail }}
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Trade text grid",
    "settings": [
      {
        "type":"inline_richtext",
        "label": "Section title",
        "id": "title",
        "default":"Trending Styles"
      },
      {
        "type":"inline_richtext",
        "label":"Sub heading",
        "id": "subHeading"
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Top spacing",
        "min": 0,
        "max": 80,
        "default": 0,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Bottom spacing",
        "default": 0,
        "min": 0,
        "max": 80,
        "unit": "px"
      },
      {
        "type": "header",
        "content": "Mobile layout"
      },
      {
        "type": "range",
        "id": "mobile_padding_top",
        "label": "Mobile top spacing",
        "min": 0,
        "max": 80,
        "step": 1,
        "default": 0,
        "unit": "px"
      },
      {
        "type": "range",
        "id": "mobile_padding_bottom",
        "label": "Mobile bottom spacing",
        "min": 0,
        "max": 80,
        "step": 1,
        "default": 0,
        "unit": "px"
      },
      {
        "type": "header",
        "content": "Advanced",
        "info": "[Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360022329373)"
      },
      {
        "type": "textarea",
        "id": "custom_css",
        "label": "Custom CSS"
      }
    ],
    "blocks": [
      {
        "type":"text",
        "name":"Text",
        "settings": [
          {
            "type":"text",
            "label":"Heading",
            "id": "heading",
            "default":"Trade Discount"
          },
          {
            "type":"text",
            "label":"Sub heading",
            "id": "subHeading"
          },
          {
            "type": "richtext",
            "label": "Detail",
            "id": "detail",
            "default": "<p>Details<\/p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Trade text grid",
        "category": "Text",
        "settings": {
            "padding_top": 40,
            "padding_bottom": 40
        },
        "blocks": [
          {
            "type": "text"
          },
          {
            "type": "text"
          },
          {
            "type": "text"
          }
        ]
      }
    ],
    "disabled_on": {
      "groups": [
        "*"
      ]
    }
  }
{% endschema %}