{% layout none %}
{{ 'styles.css' | asset_url | stylesheet_tag: preload: true }}
{% render 'custom-head' %}

{% liquid
  assign selected_variant = product.selected_or_first_available_variant
  assign IS_ENGLISH = true
  assign IS_FRENCH = false
  if request.path contains '/fr'
    assign IS_ENGLISH = false
    assign IS_FRENCH = true
  endif

  assign isWholesale = false
  if customer.tags contains 'wholesale'
    assign isWholesale = true
  endif
%}
{% capture icon_visibility %}
<svg class="tw-w-3 tw-ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M160 256C160 185.3 217.3 128 288 128C358.7 128 416 185.3 416 256C416 326.7 358.7 384 288 384C217.3 384 160 326.7 160 256zM288 336C332.2 336 368 300.2 368 256C368 211.8 332.2 176 288 176C287.3 176 286.7 176 285.1 176C287.3 181.1 288 186.5 288 192C288 227.3 259.3 256 224 256C218.5 256 213.1 255.3 208 253.1C208 254.7 208 255.3 208 255.1C208 300.2 243.8 336 288 336L288 336zM95.42 112.6C142.5 68.84 207.2 32 288 32C368.8 32 433.5 68.84 480.6 112.6C527.4 156 558.7 207.1 573.5 243.7C576.8 251.6 576.8 260.4 573.5 268.3C558.7 304 527.4 355.1 480.6 399.4C433.5 443.2 368.8 480 288 480C207.2 480 142.5 443.2 95.42 399.4C48.62 355.1 17.34 304 2.461 268.3C-.8205 260.4-.8205 251.6 2.461 243.7C17.34 207.1 48.62 156 95.42 112.6V112.6zM288 80C222.8 80 169.2 109.6 128.1 147.7C89.6 183.5 63.02 225.1 49.44 256C63.02 286 89.6 328.5 128.1 364.3C169.2 402.4 222.8 432 288 432C353.2 432 406.8 402.4 447.9 364.3C486.4 328.5 512.1 286 526.6 256C512.1 225.1 486.4 183.5 447.9 147.7C406.8 109.6 353.2 80 288 80V80z"/></svg>
{% endcapture %}

{% style %}
  .print-version .hide-print,
  .print-version [data-hide-print] {
    display: none !important;
  }
  .print-form .hide-print,
  .print-body .hide-print {
    opacity: 0.25;
  }
  .print-body table tr:nth-child(odd) {
    background: #f3f4f6;
  }
{% endstyle %}

<div class="print-container tw-mx-4 tw-text-xl" v-cloak>
  <div class="hide-print">
    <div class="tw-text-center tw-mt-2">
      <button @click="print" class="tw-flex tw-items-center tw-justify-center tw-ml-auto tw-mr-0 tw-uppercase">
        <span>
          {%- if IS_ENGLISH %}PRINT PAGE{% else %}imprimer la page{% endif -%}
        </span>
        <svg class="tw-w-4 tw-ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path d="M448 192H64C28.65 192 0 220.7 0 256v96c0 17.67 14.33 32 32 32h32v96c0 17.67 14.33 32 32 32h320c17.67 0 32-14.33 32-32v-96h32c17.67 0 32-14.33 32-32V256C512 220.7 483.3 192 448 192zM384 448H128v-96h256V448zM432 296c-13.25 0-24-10.75-24-24c0-13.27 10.75-24 24-24s24 10.73 24 24C456 285.3 445.3 296 432 296zM128 64h229.5L384 90.51V160h64V77.25c0-8.484-3.375-16.62-9.375-22.62l-45.25-45.25C387.4 3.375 379.2 0 370.8 0H96C78.34 0 64 14.33 64 32v128h64V64z"/>
        </svg>
      </button>
    </div>
  </div>

  <div class="print-head tw-py-5">
    <div class="tw-grid tw-grid-cols-2">
      <div class="print-form tw-p-2 tw-bg-gray-100">
        <table>
          <tr
            v-for="field in formFields"
            :class="{'tw-opacity-50': !field.visible}"
          >
            <td class="tw-px-1 tw-text-xs tw-align-middle">
              {% if IS_ENGLISH %}${ field.label }{% endif %}
              {% if IS_FRENCH %}${ field.label_fr }{% endif %}
            </td>
            <td class="tw-px-1 tw-text-xs tw-align-middle">
              <input type="text" class="tw-w-full tw-border tw-border-black tw-p-1">
            </td>
            <td class="tw-align-middle" data-hide-print>
              <a alt="Hide From Print" href="#" @click.prevent="hideRow">
                {{ icon_visibility }}
              </a>
            </td>
          </tr>
          {% comment %}
            <tr>
              <td class="tw-px-1 tw-text-xs tw-align-middle">
                {% if IS_ENGLISH %}customer email{% endif %}
              </td>
              <td class="tw-px-1 tw-text-xs tw-align-middle">
                <input type="text" class="tw-w-full tw-border tw-border-black tw-p-1 customer_email">
              </td>
              <td class="tw-align-middle" data-hide-print>
                <a alt="Hide From Print" href="#" @click.prevent="hideRow">
                  {{ icon_visibility }}
                </a>
              </td>
            </tr>
            <tr>
              <td class="tw-px-1 tw-text-xs tw-align-middle">
                {% if IS_ENGLISH %}customer phone{% endif %}
              </td>
              <td class="tw-px-1 tw-text-xs tw-align-middle">
                <input type="text" class="tw-w-full tw-border tw-border-black tw-p-1 customer_phone">
              </td>
              <td class="tw-align-middle" data-hide-print>
                <a alt="Hide From Print" href="#" @click.prevent="hideRow">
                  {{ icon_visibility }}
                </a>
              </td>
            </tr>
          {% endcomment %}
        </table>
      </div>
      <div class="shop-logo tw-text-center">
        <div class="logo-wrap">
          <div>
            {% if IS_ENGLISH %}<img loading="lazy" src="{{ 'logo_en.png' | asset_url }}" class="tw-w-64 tw-mx-auto">{% endif %}
            {% if IS_FRENCH %}<img loading="lazy" src="{{ 'logo_fr.png' | asset_url }}" class="tw-w-64 tw-mx-auto">{% endif %}
          </div>
          <div v-if="custom_logo">
            <div class="tw-text-sm tw-text-center tw-my-2 tw-uppercase">
              {% if IS_ENGLISH %}Prepared By{% else %}PREPARÉ PAR{% endif %}
            </div>
            <img loading="lazy" :src="custom_logo" class="tw-w-48 tw-mx-auto">
          </div>
        </div>
        <div class="contact-info">
          <div class="email">
            <div
              class="tw-w-1 tw-my-5"
              :class="{'hide-print': notes == ''}"
            >
              <input type="text" class="tw-w-full tw-p-2">
            </div>
          </div>
          <div class="customer_phone">
            <div
              class="tw-w-1 tw-my-5"
              :class="{'hide-print': notes == ''}"
            >
              <input type="text" class="tw-w-full tw-p-2">
            </div>
          </div>
        </div>
        {% if isWholesale %}
          <div class="tw-text-center tw-my-5" data-hide-print>
            <span class="tw-text-sm tw-inline-block tw-mr-1">Add Logo</span
            ><input class="tw-w-44" type="file" @change="onUploadCustomLogo">
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="type-tag">type/tag :</div>
  <div class="border">
    <div class="print-product-title tw-py-2 tw-border-t tw-border-b tw-border-black">
      <table class="tw-leading-normal">
        <tr>
          <td class="tw-p-2">
            <div class="tw-uppercase tw-font-bold tw-text-2xl">{{ product.title }}</div>
          </td>
        </tr>
      </table>
      <div class="tag-input_value">
        <input type="text">
      </div>
    </div>

    {%- capture column_hide_row -%}
    <td class="tw-p-5 tw-text-right" data-hide-print>
      <a href="#" @click.prevent="hideRow">
        {{ icon_visibility }}
      </a>
    </td>
    {%- endcapture -%}
    {% assign class_td_title = 'tw-p-2 tw-font-bold tw-uppercase' %}
    {% assign class_td_content = 'tw-p-2 tw-w-6/12' %}

    <div class="print-body">
      <div class="tw-grid tw-grid-cols-2">
        <div class="tw-py-5">
          <table class="tw-w-10/12 tw-table-fixed">
            {% if product.description.length > 0 %}
              <tr>
                <td class="{{ class_td_title }}">DESCRIPTION</td>
                <td class="{{ class_td_content }}">{{ product.description | replace: '<img', '<img loading="lazy"' | replace: '<iframe', '<iframe loading="lazy"' | replace: '<video', '<video preload="none"' }}</td>
                {{ column_hide_row }}
              </tr>
            {% endif %}

            <tr>
              <td class="{{ class_td_title }}">
                {% if IS_ENGLISH %}MANUFACTURER{% else %}FABRICANT{% endif %}
              </td>
              <td class="{{ class_td_content }}">{{ product.vendor }}</td>
              {{ column_hide_row }}
            </tr>
            <tr>
              <td class="{{ class_td_title }}">SKU</td>
              <td class="{{ class_td_content }}">{{ selected_variant.sku }}</td>
              {{ column_hide_row }}
            </tr>

            {% for item in product.metafields.item %}
              {% liquid
                assign field = item | first
                assign value = item | last
                assign skip = false
                if field contains 'instructionsheet' or field contains 'specsheet' or field contains 'delivery'
                  assign skip = true
                endif

                if IS_FRENCH
                  case field
                    when 'bulbs'
                      assign field = 'AMPOULES'
                    when 'chain'
                      assign field = 'CHAÎNE'
                    when 'material'
                      assign field = 'MATÉRIEL'
                    when 'wire'
                      assign field = 'FIL'
                    when 'canopysize'
                      assign field = 'TAILLE DE LA COUVERTURE'
                    when 'finish'
                      assign field = 'FINITION'
                    when 'weight'
                      assign field = 'POIDS'
                  endcase
                endif
              %}
              {% unless skip %}
                <tr>
                  <td class="{{ class_td_title }}">{{ field }}</td>
                  <td class="{{ class_td_content }}">{{ value }}</td>
                  {{ column_hide_row }}
                </tr>
              {% endunless %}
            {% endfor %}

            {% for item in selected_variant.metafields.variant %}
              {% liquid
                assign field = item | first
                assign value = item | last
                assign skip = false
                if field contains 'instructionsheet' or field contains 'specsheet' or field contains 'delivery'
                  assign skip = true
                endif

                if IS_FRENCH
                  case field
                    when 'bulbs'
                      assign field = 'AMPOULES'
                    when 'chain'
                      assign field = 'CHAÎNE'
                    when 'material'
                      assign field = 'MATÉRIEL'
                    when 'wire'
                      assign field = 'FIL'
                    when 'canopysize'
                      assign field = 'TAILLE DE LA COUVERTURE'
                    when 'finish'
                      assign field = 'FINITION'
                    when 'weight'
                      assign field = 'POIDS'
                  endcase
                endif
              %}
              {% unless skip %}
                <tr>
                  <td class="{{ class_td_title }}">{{ field }}</td>
                  <td class="{{ class_td_content }}">{{ value }}</td>
                  {{ column_hide_row }}
                </tr>
              {% endunless %}
            {% endfor %}
          </table>
        </div>

        {% liquid
          assign featured_image = product.featured_image
          if selected_variant.featured_image
            assign featured_image = selected_variant.featured_image
          endif
        %}
        <div class="tw-p-10">
          <div class="product-image tw-text-center -tw-mt-10">
            <img loading="lazy" loading="lazy" class="tw-w-full tw-mx-auto" src="{{ featured_image | img_url: 'x800' }}">
          </div>
        </div>
      </div>

      <div
        class="tw-w-1/2 tw-my-10"
        :class="{'hide-print': notes == ''}"
      >
        <div class="tw-uppercase tw-font-bold tw-text-sm tw-mb-1">NOTES:</div>
        <textarea v-model="notes" class="tw-w-full tw-p-2" rows="6"></textarea>
      </div>
    </div>
  </div>
</div>

<script src="{{ 'print.js' | asset_url }}" defer></script>
{% comment %} <script src="{{ 'custom_print.js' | asset_url }}" defer></script> {% endcomment %}
